body, html {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

*|*:not(:root):fullscreen {
  background: unset;
}

:not(:root):fullscreen::backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: unset;
}

[class^="el-icon-fa"], [class*="el-icon-fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.el-menu {
  border-right: none;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-breadcrumb {
  line-height: 40px;
}

.operation-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #344E75;
  min-height: 52px;
}

.operation-wrap {

}

.el-select, .el-input-number {
  width: 100%;
}

.el-cascader {
  width: 100%;
}

.table-operation-wrap button:after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid #bebebe;
}

.table-operation-wrap button:last-child:after {
  content: "";
  margin-left: 10px;
  border-right: none;
}

.el-dropdown-link {
  cursor: pointer;
}

.el-tag {
  border-radius: 0;
}

.el-menu-item [class^="fa"] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.el-menu-item [class^=fa] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

.el-submenu [class^="fa"] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

.el-submenu [class^=fa] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

.el-menu--collapse > div > .el-submenu > .el-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

.page-title {
  line-height: 25px;
  border-left: 3px solid #344E75;
  font-size: 15px;
  color: #344E75;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.el-dialog__header {
  border-bottom: 1px solid #eeeeee;
}

.dashed-button {
  line-height: 1;
  padding: 0 10px;
  width: 100%;
  color: #2b3441;
  background-color: #fff;
  border-color: #d5d6d9;
  border-style: dashed;
  cursor: pointer;
}

.dashed-button:hover {
  color: #2b3441;
  background-color: rgba(43, 52, 65, .05);
  border-color: rgba(43, 52, 65, .4);
}


.dashed-button:focus {
  color: #2b3441;
  border-style: dashed;
  background-color: rgba(43, 52, 65, .05);
  border-color: rgba(43, 52, 65, .4);
  outline: unset;

}

.tip-wrap {
  .el-icon-s-opportunity {
    color: #ffca28;
  }

  color: rgba(43, 52, 65, .6);
  padding: 10px;
  border: 1px dashed #d5d6d9;
  margin-bottom: 10px;
}
